<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dota 2 Cosmetics</title>
    <meta name="description" content="Demo of Material design portfolio template by TemplateFlip.com."/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="public/img/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="public/img/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="public/img/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="public/img/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="public/img/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="public/img/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="public/img/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="public/img/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="public/img/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="public/img/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="public/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="public/img/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="public/img/favicon-16x16.png">
<link rel="manifest" href="public/img/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
    <link href="/css/app.css" rel="stylesheet">
  </head>
  <body id="top">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header"><a href="/contact" id="contact-button" class="mdl-button mdl-button--fab mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast mdl-shadow--4dp"><i class="material-icons">mail</i></a>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--waterfall site-header">
        <div class="mdl-layout__header-row site-logo-row"><span class="mdl-layout__title">
            <div class="site-logo"></div><span class="site-description">Dota 2 Cosmetics</span></span></div>
        <div class="mdl-layout__header-row site-navigation-row mdl-layout--large-screen-only">
          <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font"><a class="mdl-navigation__link" href="/">Home</a><a class="mdl-navigation__link" href="/about">About</a><a class="mdl-navigation__link" href="/contact">Contact</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font"><a class="mdl-navigation__link" href="/">Home</a>s<a class="mdl-navigation__link" href="/about">About</a><a class="mdl-navigation__link" href="/contact">Contact</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="site-content">
          <div class="container"><div class="mdl-grid site-max-width">
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="/img/portfolio1.png" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Manifold Paradox</h2>
        </div>
        <div class="mdl-card__supporting-text">
        </div><br>        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="https://dota2.gamepedia.com/Manifold_Paradox">
            Learn More
          </a>
        </div>
    </div>
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="/img/portfolio2.png" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Great Sage's Reckoning</h2>
        </div>
        <div class="mdl-card__supporting-text">
        </div><br>        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="https://dota2.gamepedia.com/Great_Sage's_Reckoning">
            Learn More
          </a>
        </div>
    </div>
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="/img/portfolio3.png" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Demon Eater</h2>
        </div>
        <div class="mdl-card__supporting-text">
        </div><br>        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="https://dota2.gamepedia.com/Demon_Eater
">
            Learn More
          </a>
        </div>
    </div><br>    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="/img/portfolio4.png" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Fractal Horns of Inner Abbysm</h2>
        </div>
        <div class="mdl-card__supporting-text">
        </div><br>        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="https://dota2.gamepedia.com/Fractal_Horns_of_Inner_Abysm">
            Learn More
          </a>
        </div>
    </div><br>    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="/img/portfolio5.png" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Fiery Soul of the Slayer</h2>
        </div>
        <div class="mdl-card__supporting-text">
        </div><br>        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="https://dota2.gamepedia.com/Fiery_Soul_of_the_Slayer
">
            Learn More
          </a>
        </div>
    </div><br>    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="/img/portfolio6.png" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Blades of Voth Domosh</h2>
        </div>
        <div class="mdl-card__supporting-text">
        </div><br>        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="https://dota2.gamepedia.com/Blades_of_Voth_Domosh">
            Learn More
          </a>
        </div>
    </div>
</div></div>
        </div>
        <footer class="mdl-mini-footer">
          <div class="footer-container">
            <div class="mdl-logo">&copy; Feb. 2017 <a href="https://templateflip.com/" target="_blank"></a></div>
            <ul class="mdl-mini-footer__link-list">
            </ul>
          </div>
        </footer>
      </main>
      <script src="https://code.getmdl.io/1.3.0/material.min.js" defer></script>
    </div>
  </body>
</html>